body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

header a:hover {
    text-decoration: underline;
}

main {
    padding: 80px 20px 20px; /* EspaÃ§o para o header fixo */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section{
    height: 20%;
    width: 100EM;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    width: calc(33% - 30px); /* TrÃªs produtos por linha com espaÃ§o entre eles */
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
}

.product-info {
    padding: 10px 0;
}

.product-info h2 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
}

.product-info p {
    color: #555;
}

button {
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
