*{box-sizing: border-box;}

body{
    margin: 0;
}

.slider{
    margin: 0 auto;
    width: 1900px;
    height: 800px;
    overflow: hidden;
}


.slides{
    width: 400%;
    height: 800px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 0.7s;
}

.slide img{
    width: 1900px;
}

.manual-navigation{
    position: absolute;
    width: 1900px;
    margin-top: 700px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn label{
    width: 20px;
    height: 20px;
}

.manual-btn:not(:last-child){
    margin-right: 50px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 700px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 50px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

/* .slider{
    opacity: 0;
    transition: opacity .2s;

    position: absolute;
    width: 100%;
    height: 500px;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}

#prev-button img{
    rotate: 180deg;
} */

.card{
    /* Auto layout */
transition: 0.1s ease-in-out;
display: flex;
flex-direction: column;
align-items: center;

width: 340px;
height: 448px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
}

/* 
.card:hover{
    background-color: rgba(228, 228, 228, 0.1);
    transition: 0.1s ease-in-out;
} */

.imag{
    width: 100%;
    height: 100%;
    max-width: 340px;
    max-height: 340px;
    /* background-image: url(../imagens/jao-svg.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    border-radius: 5px;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}
/* #dois{
    background-image: url(../imagens/celebro-svg.svg);

} */

/* #tres{
    background-image: url(../imagens/jujutsu-svg.svg);
} */
.title{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 316px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

/* 
configurando acoes: */

.legenda{
    padding: 10px 0;
    height: fit-content;
}
.acoes{
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.nomes{
    display: flex;
}

.carac, .acoes{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.carac{
    font-size: 22px;
    line-break: normal;
}

.acoes button{
    color: #6EB1F0;
    background-color: rgb(255, 255, 255);
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13pt;
}

button:hover{
    cursor: pointer;
}

/* configurando posição dos cartões: */


.produtos2{
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-evenly;
}
/* header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgb(65, 65, 65);
}

.itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    padding-right: 3em;
}

header > .itens a{
    margin-left: 5em;
    margin-bottom: 0.3em;
    font-size: 2em;
    text-decoration: none;
}

header > .itens p{
    font-size: 1.1em;
} */

/* main{
    display: flex;
    justify-content: space-between;
    padding-left: 12em;
    padding-right: 12em;
}

.product{
    width: 27em;
    height: 40em;
    border: 1px solid black;
    border-radius: 1em;
    text-align: center;
}

.product > img{
    position: relative;
    right: 0.2%;
    bottom: 0.2%;
    margin-top: 0em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border: 1px solid black;

    height: 27em;
    width: 100%;
}

.product > .product-info button{
    width: 35%;
    position: relative;
    top: 2em;
    opacity: 0;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1.3em;
}

.product:hover > .product-info button{
    position: relative;
    top: 0.4em;
    width: 35%;
    opacity: 100;
    background-color: rgb(38, 194, 38);
    transition: 0.3s;
}

.product-info > h2{
    text-align: start;
    font-size: 1.5em;
    margin-left: 1em;
    font-weight: 600;
}

.product-info > p{
    font-size: 1em;
    text-align: start;
    margin-left: 1.6em;
    margin-right: 1.6em;
    font-weight: 300;
}

.ver{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.ver > button{
    width: 20vw;
    height: 4vh;
    font-size: 1em;
    border-radius: 0.6em;

    cursor: pointer;
    background-color: black;
    color: white;
}

.ver > button:hover{
    background-color: rgb(34, 34, 34);
    transform: scale(1.1);
} */

/* configurando produtos (titulo: */

.aprt-produtos{
    display: flex;
    padding-left: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18pt;
}

.aprt-produtos img{
    padding-right: 20px;
    height: 100%;
    max-height: 150px;
}

.icon-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtos-2{
    justify-content: center;
    padding-left: 0%;
}

/* 
para textos:
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 15pt;

*/
.cart-item {
    /* border: 1px solid #ccc; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item img {
    max-width: 100px;
    margin-bottom: 10px;
}

.cart-item-info {
    text-align: center;
}
#container{
    border: 1px solid red;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#banner{
    border: 1px solid red;
    display: flex;
    width: 60%;
    margin-left: 20%;
}
#banner-text{
    border: 1px solid red;
    margin-left: 30%;
    margin-top: 6%;
}

/* confiurando botão ver mais: */
.ver-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.ver-mais button{
    width: 45vh;
    height: 4vh;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    transition: 0.1s ease-in;
}

.ver-mais button:hover{
    background-color: rgb(29, 29, 29) ;
    transform: scale(1.01);
}

/* patrocinios */

.patrocinios-container{
    display: flex;
    flex-wrap: wrap;
    /* esse flex wrap é maneiro */ 
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 90px;
    border-radius: 50px;
}

/* tenha em mente estas posições em relação a erquerda::: */

.patrocinios-title {
    font-family: "Roboto", sans-serif;
    font-size: 15pt;
    font-style: normal;
    padding-left: 9.5%;
    font-weight: 700;
    font-style: normal;
    font-size: 18pt;    
    transition: 0.1s ease-in-out;

}

.patrocinios img:hover{
    transition: 0.1s ease-in-out;
    box-shadow: 0 0 10px #fecf235d;
    transform: scale(1.1);
    cursor: pointer;
}

/* configutrando banner: */

.entrega-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: appear2 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 18%;

}

#banner-entrega{
    width: 100%;
    height: 100%;
    max-height: 450px;
    padding: 10px 0 100px;
    animation: appear2 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 18%;
}

/* configurando "um pouco sobre mim:" */

.sobre-mim {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define duas colunas de diferentes larguras */
    grid-template-rows: auto auto; /* Define duas linhas de altura automática */
    grid-template-areas: 
        "p2-mim sobre-mim-teste sobre-mim-teste"
        "p2-mim p2-mim-2 p2-mim-3";
    grid-gap: 10px;
    padding: 0 9.5%;
}


@media (max-width: 678px) {

    .sobre-mim {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Define duas colunas de diferentes larguras */
        grid-template-rows: auto auto; /* Define duas linhas de altura automática */
        grid-template-areas: 
            "p2-mim"
            "sobre-mim-teste"
            "p2-mim-2"
            "p2-mim-3";
        grid-gap: 10px;
        padding: 0 9.5%;
    }

    .patrocinios-container{
        flex-direction: column;
        
    }
    .inkway, .tekbond, .saramanil, .imballa, .biscuit-loja{
        height: 150px;
        align-items: column;
    }
}

.sobre-mim-teste {
    grid-area: sobre-mim-teste;
    margin: 0;
    padding: 0;
    animation: appear1 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 18%;
}

.sobre-mim-teste h1{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;  
    animation: appear 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 18%;
}

.sobre-mim-teste p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5em;
}

.p2-mim {
    grid-area: p2-mim;
    margin: 0;
    padding: 0;
}

.p2-mim-2 {
    grid-area: p2-mim-2;
    margin: 0;
    padding: 0;
    animation: appear 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 18%;
}

.p2-mim-3{
    grid-area: p2-mim-3;
    margin: 0;
    padding: 0;
    animation: appear1 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 18%;
}
#img-mim {
    display: block; /* Remove o espaço abaixo das imagens */
    max-width: 100%; /* Ajusta a largura máxima da imagem para se ajustar ao seu contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
/* 
adicionando um espaçamento no final: */

.produtos{
    margin-top: 5%;
}

.produtos, .sobre-mim, .patrocinios{
    padding-bottom: 20px;
    animation: appear 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 18%;
}
.patrocinios-container img{
    animation: appear2 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 18%;
}
/* adicionando animações: */
@keyframes appear{
    from{
      opacity: 0;
      translate: -100vh 0;
    }
  
    to{
      opacity: 1;
      translate: 0 0;
    }
}
/* apper1 vem da esquerda */
@keyframes appear1{
    from{
      opacity: 0;
      translate: 100vh 0;
    }
  
    to{
      opacity: 1;
      translate: 0 0;
    }
}
@keyframes appear2{
    from{
      opacity: 0;
      translate: 0 100vh;
    }
  
    to{
      opacity: 1;
      translate: 0 0;
    }
}


footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;

    width: 100vw;
    height: 10vh;
}