body{
    margin: 0;
}


.card{
    /* Auto layout */
transition: 0.1s ease-in-out;
display: flex;
flex-direction: column;
align-items: center;

width: 340px;
height: 448px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
}

/* 
.card:hover{
    background-color: rgba(228, 228, 228, 0.1);
    transition: 0.1s ease-in-out;
} */

.imag{
    width: 100%;
    height: 100%;
    max-width: 340px;
    max-height: 340px;
    /* background-image: url(../imagens/jao-svg.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    border-radius: 5px;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}
/* #dois{
    background-image: url(../imagens/celebro-svg.svg);

} */

/* #tres{
    background-image: url(../imagens/jujutsu-svg.svg);
} */
.title{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 316px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

/* 
configurando acoes: */

.legenda{
    padding: 10px 0;
    height: fit-content;
}
.acoes{
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.nomes{
    display: flex;
}

.carac, .acoes{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.carac{
    font-size: 22px;
    line-break: normal;
}

.acoes button{
    color: #6EB1F0;
    background-color: rgb(255, 255, 255);
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13pt;
}

button:hover{
    cursor: pointer;
}

/* configurando posição dos cartões: */


.produtos2{
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-evenly;
}
/* header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgb(65, 65, 65);
}

.itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    padding-right: 3em;
}

header > .itens a{
    margin-left: 5em;
    margin-bottom: 0.3em;
    font-size: 2em;
    text-decoration: none;
}

header > .itens p{
    font-size: 1.1em;
} */

/* main{
    display: flex;
    justify-content: space-between;
    padding-left: 12em;
    padding-right: 12em;
}

.product{
    width: 27em;
    height: 40em;
    border: 1px solid black;
    border-radius: 1em;
    text-align: center;
}

.product > img{
    position: relative;
    right: 0.2%;
    bottom: 0.2%;
    margin-top: 0em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border: 1px solid black;

    height: 27em;
    width: 100%;
}

.product > .product-info button{
    width: 35%;
    position: relative;
    top: 2em;
    opacity: 0;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1.3em;
}

.product:hover > .product-info button{
    position: relative;
    top: 0.4em;
    width: 35%;
    opacity: 100;
    background-color: rgb(38, 194, 38);
    transition: 0.3s;
}

.product-info > h2{
    text-align: start;
    font-size: 1.5em;
    margin-left: 1em;
    font-weight: 600;
}

.product-info > p{
    font-size: 1em;
    text-align: start;
    margin-left: 1.6em;
    margin-right: 1.6em;
    font-weight: 300;
}

.ver{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.ver > button{
    width: 20vw;
    height: 4vh;
    font-size: 1em;
    border-radius: 0.6em;

    cursor: pointer;
    background-color: black;
    color: white;
}

.ver > button:hover{
    background-color: rgb(34, 34, 34);
    transform: scale(1.1);
} */

/* configurando produtos (titulo: */

.aprt-produtos{
    display: flex;
    padding-left: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18pt;
}

.aprt-produtos img{
    padding-right: 20px;
    height: 100%;
    max-height: 150px;
}

.icon-title{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 
para textos:
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 15pt;

*/
.cart-item {
    /* border: 1px solid #ccc; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item img {
    max-width: 100px;
    margin-bottom: 10px;
}

.cart-item-info {
    text-align: center;
}
#container{
    border: 1px solid red;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#banner{
    border: 1px solid red;
    display: flex;
    width: 60%;
    margin-left: 20%;
}
#banner-text{
    border: 1px solid red;
    margin-left: 30%;
    margin-top: 6%;
}

/* confiurando botão ver mais: */
.ver-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.ver-mais button{
    width: 45vh;
    height: 4vh;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    transition: 0.1s ease-in;
}

.ver-mais button:hover{
    background-color: rgb(29, 29, 29) ;
    transform: scale(1.01);
}

footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;

    width: 100vw;
    height: 10vh;
}